header {
  width: 100%;
}
.contact_info {
  background-color: rgb(20 157 175);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.contact_info p {
  margin: 0 10px 0 10px;
  font-weight: 700;
}
.contact_info p img {
  margin: 0 10px 0 10px;
  width: 20px;
}
.logo_image {
  height: 50px;
}
.navbar_conatiner {
  margin-top: 44px;
  background-color: #fff;
  background-image: linear-gradient(
    30deg,
    hsl(0deg 0% 100%) 13%,
    hsl(0deg 0% 100%) 35%,
    hsl(0deg 0% 100%) 43%,
    hsl(0deg 0% 100%) 47%,
    hsl(0deg 0% 100%) 50%,
    hsl(0deg 0% 100%) 51%,
    hsl(0deg 0% 100%) 52%,
    hsl(0deg 0% 100%) 53%,
    hsl(0deg 0% 100%) 53%,
    hsl(0deg 0% 100%) 53%,
    hsl(0deg 0% 100%) 53%,
    hsl(0deg 0% 100%) 53%,
    hsl(0deg 0% 100%) 53%,
    hsl(0deg 0% 100%) 53%,
    hsl(0deg 0% 100%) 53%,
    hsl(187deg 100% 97%) 54%,
    hsl(187deg 100% 94%) 55%,
    hsl(187deg 100% 90%) 57%,
    hsl(187deg 97% 87%) 60%,
    hsl(187deg 98% 83%) 65%,
    hsl(187deg 98% 80%) 73%,
    hsl(187deg 98% 77%) 100%
  );
}
.nav-item {
  padding: 0 20px;
  border-radius: 5px;
}
.nav-link {
  padding: 10px 20px;
  font-weight: 800;
  outline: none;
}
.nav-item:hover {
  background-color: #02d5e4a7;
  outline: none;
}
.dropdown-menu {
  background-color: #fffffffe;
}
.dropdown-item {
  font-weight: 600;
}
.dropdown-item:hover,
.dropdown-item:focus {
  outline: none;
  background-color: #03bbc8a4;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.801);
  outline: none;
}
@media (max-width: 991px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    flex-direction: row-reverse;
  }

  .navbar-nav {
    padding: 20px;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url(https://icon-library.com/images/menu-icon-mobile/menu-icon-mobile-18.jpg);
  }

  .nav-item {
    width: 100%;
    cursor: pointer;
    transition: 0.1s;
    padding: 5px;
    border-radius: 3px;
  }

  .nav-item:hover .nav-link:hover {
    color: rgba(28, 28, 27, 0.898);
  }
  .nav-item:hover {
    background-color: transparent;
    color: yellow;
  }
  .dropdown-menu {
    background-color: #ffffffa7;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}
@media (max-width: 769px) {
  .navbar_conatiner {
    margin-top: 64px;
  }
  .contact_info {
    flex-direction: column;
  }
  .contact_info p:nth-child(2) {
    font-size: 15px;
  }
}
@media (max-width: 567px) {
  .contact_info p {
    margin: 0 5px 0 5px;
    font-weight: 700;
  }
  .contact_info p img {
    margin: 0 10px 0 5px;
  }
  .contact_info p:nth-child(2) {
    font-size: 14px;
  }
  .contact_info p:nth-child(2) img {
    margin-top: -2px;
  }
  .logo_image {
    height: 45px;
  }
}
